.DS_Store

oco-agent.ini

oco-agent/

__pycache__/

oco_agent.egg-info/

build/
dist/

installer/windows/*.exe
installer/macos/target/*
installer/debian/*.deb
installer/debian/oco-agent/*
!installer/debian/oco-agent/DEBIAN/
