[Unit]
Description=OCO Agent
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
TimeoutStopSec=320
ExecStart=/usr/share/oco-agent/oco-agent --daemon --config /etc/oco-agent.ini
EnvironmentFile=-/etc/environment

[Install]
WantedBy=multi-user.target
